@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
:root {
    /* Colores */
    --pure-black: #000000;
    --purple: #6a097d;
    --soft-purple: #c060a1;
    --cream: #f1d4d4;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--pure-black);
}
main {
    width: 100%;
}
.Header-main {
	display: flex;
	justify-content: space-around;
	align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--purple);
}
.Header a {
	text-decoration: none;
	color: azure;
}
#content {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.Movies {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.Movie-item {
    width: 95%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.Movie-item img {
    width: 100%;
    margin-top: 30px;
}
.Movie-item h2, a {
    color: azure;
    text-decoration: none;
}
.Movie-inner {
    width: 100%;
    height: auto;
    color: azure;
}
.Movie-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bolder;
}
.Movie-card h2 {
    background-color: var(--soft-purple);
    font-weight: 900;
    padding: 5px;
}
.Movie-card img{
    width: 80%;
    height: auto;
}
.Movies-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1.6rem;
    text-align: center;
}
.Movies-card h3 {
    margin: 5px;
    background-color: var(--soft-purple);
}